#article-item-page{
	#article-title-section{
		@include page_section;

        margin-bottom: 0;
		#article-title-container{
			@include container_12;
			@include clearfix;
			#article-title{
				@include init-grid;
				@include grid_12;



				@include h1_font;
                color: $header-color;
              font-weight: normal;
              font-family: 'OpenSansSemibold', Arial, sans-serif;

                .article-title {
                  padding-top: 0;
                }

			}
		}
	}

    ul.tag-list{
      li{

        a{

        }
      }
    }

    #header-tag-list{
      ul.tag-list{
        padding-left: 0;
        text-align: right;
        margin-top: 0;

        li{
          display: inline-block;

          &:before{
            content: ",";
            margin-right: 10px;
            margin-left: 2px;
          }

          &:first-child:before{
            content: none;
          }

          a{

          }
        }
      }
    }

	#article-section{
		@include page_section;
		#article-container{
			@include container_12;
			@include clearfix;
			#article-title-wrapper{
				@include init-grid;
				@include grid_8;

				float:right;

				.article-title{
					@include h1_font;

                    color: $header-color;


                    padding-top: 0;
                    position: relative;
                    top: -7px;
				}
			}

            #avatar-and-tags{
              @include init-grid;
              @include grid_4;

              #avatar-container{


                img{
                  max-width: 100%;
                }
              }
            }


            #release-date-and-short-description{
              padding-left: 34.333%;


              #short-description{
                font-family: 'OpenSansLightItalic', Arial, sans-serif;
              }
            }



			#article-body{
				@include init-grid;
				@include grid_8;

                padding-top: 2rem;

				float: right;

                @media( max-width: 959px ){
                  //float: none;
                  clear: left;
                  width: 98%;
                  padding-top: 0;
                }

				#header-tag-list, #footer-tag-list{
					ul{
						@include clearfix;
						padding-left:0;
						li{
							float: left;
							margin-right: 20px;
							padding: 5px;
							list-style: none;

							&:last-child{
								margin-right: 0;
							}

							a{
								@include link_style;
								/*&, &:visited{
									background-color: 	rgba(255,46,139,0.3);
									color:white;
								}*/
							}
						}
					}
				}

				#content{
					a{
						@include link_style;

                      &.image-link{
                        border-bottom: none;
                      }
					}

					img{
						max-width: 100%;
					}

                    ul{
                      padding-left: 0;

                      li{
                        list-style: none;
                        padding-left: 1.75em;
                        position: relative;


                        &:before{
                          content: "\2014";
                          color: $pink-color;
                          position: absolute;
                          left: 0;
                        }

                        ul{
                          
                        }
                      }
                    }
				}
			}
		}



      @media( max-width: $mobile_menu_screen_max_width ){
        #article-container {
          #article-title-wrapper{
            width: 98%;
          }

          #avatar-and-tags{
            width: 98%;
          }

          #release-date-and-short-description{
            padding-left: 1%;
            position: relative;
            top: -33px;

            #short-description{
              padding-top: 10px;
            }
          }
        }
      }
	}

	
}