<ul class="breadcrumbs" style="
    margin-left: 1%;
            padding-left: 0%;
    ">
      <li><a href="#">Головна</a></li>
      <li><a href="#">Статті</a></li>
      <li>Лабрадор-ретривер является одной из самых популярных пород собак2</li>
    </ul>