<div id="home-banner-outer"  class="banner-outer">
<!-- Outer wrapper for presentation only, this can be anything you like -->
      <figure class="banner-holder-figure">
        <div class="fixed-banner-wrapper">
          <figure class="fixed-banner-holder-figure">

            <div class="banner-wrapper">

                <!-- start Basic Jquery Slider -->
                <ul class="slider">

                  <%= render :partial => 'partials/slides/slide_izhak_web' %>

                  <%= render :partial => 'partials/slides/slide_valko' %>

                  <%= render :partial => 'partials/slides/slide_g3k' %>

                  <%= render :partial => 'partials/slides/slide_czmk' %>


                </ul>
            </div>

        <!-- end Basic jQuery Slider -->
          </figure>
        </div>
      </figure>
      <!-- End outer wrapper -->

      <script class="secret-source">
        //jQuery(document).ready(function($) {
          
          

        //});
      </script>
    </div>