<div id="banner-container">
<!-- Outer wrapper for presentation only, this can be anything you like -->
      <figure id="holder-container" class="slider-holder">
        <div id="banner-wrapper" class="slider-wrapper">
        <!-- start Basic Jquery Slider -->
        <ul class="slider">

          <%= render :partial => 'partials/slides/slide-ii' %>
          
          <%= render :partial => 'partials/slides/slide2' %>
          
          <%= render :partial => 'partials/slides/slide3' %>

          
        </ul>
        <!-- end Basic jQuery Slider -->
        </div>
      </figure>
      <!-- End outer wrapper -->

      <script class="secret-source">
        //jQuery(document).ready(function($) {
          
          

        //});
      </script>
    </div>