<article id="footer-wrapper" class="footer-contacts f-height">
    <section id="like-block">
      <ul>
        <li><a href="http://www.behance.net/voronin" title="Behance"><span class="soc-buttons behance-icon"></span></a></li>
        <li><a href="https://www.facebook.com/voroninstudio" title="Facebook"><span class="soc-buttons facebook-icon"></span></a></li>
        <li><a href="http://ua.linkedin.com/pub/nick-voronin/5/b61/417" title="Linked In"><span class="soc-buttons linkedin-icon"></span></a></li>
        <li>
          <%= fc_connect %>
          <div class="fb-like" data-href="http://www.facebook.com/pages/Voronin-Design-Studio/327478650602139" data-send="false" data-layout="button_count" data-width="135" data-show-faces="false" data-font="verdana"></div>
        </li>
      </ul>
    </section>

    <section id="address-block">
      <p><span class="cont-sprite-s cont-s-email-icon"></span> <%= mail_to("office@voroninstudio.eu") %></p>
      <p><span class="cont-sprite-s cont-s-address-icon"></span>вул. Хімічна, м. Львів, Україна</p>
    </section>

    <section id="phone-block">
      <p><span class="cont-sprite-s cont-s-mobile-icon"></span><a href="tel:+38 (050) 417 07 28" class="mobile" title="+38 (050) 417 07 28">
        +38 (050) 417 07 28
      </a></p>
      <p><span class="cont-sprite-s cont-s-fax-icon"></span><a href="tel:+38 (032) 232-41-51" class="" style="color: white; cursor: default;" title="+38 (032) 232-41-51" >
        +38 (032) 232-41-51
      </a></p>
    </section>
  </article>