
<section id="contacts-page">


  

  <%= render partial: 'partials/contact/contact' %>

  <%= render partial: 'partials/contact/order' %>

  <%= render partial: 'partials/contact/join_us' %>
  



  
</section><!-- contacts-page -->
