
<section id="contacts-page">

  <script type="text/javascript" src="/assets/jquery.form-validator.min.js"></script>
  

  <%= render partial: 'partials/contact/contact' %>

  <%= render partial: 'partials/contact/order' %>

  <%= render partial: 'partials/contact/join_us' %>
  



  
</section><!-- contacts-page -->
