
<section id="contacts-page">
  

  <article class="body-contacts" id="contact-us-container">
    <div class="contact-us-wrapper">
      <div id="contact-us-data">
      <a href="tel:+38 (050) 417 07 28" class="mobile" title="+38 (050) 417 07 28" style="cursor: default;">
        <span class="cont-sprite-b cont-mobile-icon"></span>
        +38 (050) 417 07 28
      </a>
      <a href="tel:+38 (032) 232-41-51" class="fax" title="+38 (032) 232-41-51" style="cursor: default;">
        <span class="cont-sprite-b cont-fax-icon"></span>
        +38 (032) 232-41-51
      </a>
      <a href="" class="address" title="вул. Хімічна, м. Львів, Україна">
        <span class="cont-sprite-b cont-address-icon"></span>
        вул. Хімічна, м. Львів, Україна
      </a>
      <div class="emails">
        <span class="cont-sprite-b cont-email-icon"></span>
        <p><a href="mailto:voronin.nick@gmail.com">voronin.nick@gmail.com</a>&nbsp;&mdash;&nbsp;фінансові та арт питання</p>
        <p><a href="mailto:office@voroninstudio.eu">office@voroninstudio.eu</a>&nbsp;&mdash;&nbsp;вакансії, офіс</p>
        <p><a href="mailto:support@voroninstudio.eu">support@voroninstudio.eu</a>&nbsp;&mdash;&nbsp;питання технічної підтримки</p>
      </div>
    </div>
    </div>
    <!--<div class="next-section-btn">
      <a href="">
        <%= image_tag("contacts-next-article.png", :alt => "") %>
      </a>
    </div>-->
  </article>

  <article class="body-contacts" id="order-us-container" style="display: none;">
		<div class="contact-us-wrapper">
			<form action="#">
        <div class="group-1-and-group-2-and-reference">
        
        <div id="group-1">
          <div class="contact-form-field field-1">
            <input type="text" name="name" id="name" placeholder="Микола Еплович"/>
            <label for="name">Вас звати <sup>*</sup></label>
          </div>
          <div class="contact-form-field field-2">
            <input type="text" name="phone" id="phone" placeholder="+38 (050) 417 07 28"/>
            <label for="phone">Ваш телефон <sup>*</sup></label>
          </div>
        </div>

        <div id="group-2">
          
          <div class="contact-form-field field-3">
            <input class="organization" id="organization" type="text" placeholder="Ябко плюс"/>
            <label for="organization">Назва організації, яку Ви представляєте</label>
          </div>
          
          <div class="contact-form-field field-4">
            <input class="email" id="email" type="text" placeholder="appleplus@gmail.com" />
            <label for="email">Ваша електронна почта <sup>*</sup></label>
          </div>

        </div>

        <div class="reference">
          <p>Примітка:</p>
          <p><i>Поля відмічені <sup>*</sup> є обов’язковими для заповнення.</i></p>
          <p><i>Чим повніше Ви опишете суть запиту / проекту, тим швидшою та повноціннішею буде наша відповідь, а визначення меж бюджету значно зекономить Ваш час :)</i></p>
        </div>
      </div>


      <div id="group-3">
        <div class="contact-form-field field-5">
            <select name="price-range" id="price-range">
              <option value="extra-high-budget">від 5 000 до 10 000грн.</option>
              <option value="high-budget">від 4 000 до 5 000грн.</option>
              <option value="medium-budget">від 2 000 до 4 000грн.</option>
              <option value="low-budget" selected>до 2 000грн.</option>
            </select>
            <label for="price-range">Межі вашого бюджету на проект</label>
        </div>
        
        <div class="right-section-textarea field-6">
          <div class="contact-form-field text-input">
            <textarea name="message" id="message" cols="15" rows="15" placeholder="Нам потрібен крутий логотип, фірмовий стиль та бренд бук. Ми продаємо натуральні яблука з власних садів. А також нам потрібно налагодити замовлення  продаж яблок через інтернет. Терміни: 2 місяця."></textarea>
            <label for="message">Чим ми можемо вам допомогти? <sup>*</sup></label>
          </div>
        </div>

        <div class="submit field-7">
          <a class="brand-button" href="#">НАДІСЛАТИ</a>
        </div>

        <div class="mobile-reference">
          <p>Примітка:</p>
          <p><i>Поля відмічені <sup>*</sup> є обов’язковими для заповнення.</i></p>
          <p><i>Чим повніше Ви опишете суть запиту / проекту, тим швидшою та повноціннішею буде наша відповідь, а визначення меж бюджету значно зекономить Ваш час :)</i></p>
        </div>
      </div>
        

          
        
        
			</form>
		</div><!-- contact us wrapper -->
  </article>


  

  <article class="body-contacts" id="join-us-wrapper" style="display: none;">
    <div class="contact-us-wrapper">
      <form action="#">
        <div class="group-1-and-reference">
        <div id="group-1">
          <div class="contact-form-field field-1">
            <input type="text" name="name" id="name" placeholder="Микола Еплович"/>
            <label for="name">Вас звати <sup>*</sup></label>
          </div>
          <div class="contact-form-field field-2">
            <input type="text" name="phone" id="phone" placeholder="+38 (050) 417 07 28"/>
            <label for="phone">Ваш телефон <sup>*</sup></label>
          </div>
        </div>
        <div id="group-2">
          <div class="contact-form-field field-3">
            <input class="portfolio" id="portfolio" type="file" placeholder="Виберіть файл"/>
            <label for="portfolio">Ваше портфоліо</label>
          </div>
          <div class="contact-form-field field-4">
            <input class="email" id="email" type="text" placeholder="appleplus@gmail.com" />
            <label for="email">Ваша електронна почта <sup>*</sup></label>
          </div>
        </div>

        <div class="reference">
          <p>Примітка:</p>
          <p><i>Поля відмічені <sup>*</sup> є обов’язковими для заповнення.</i></p>
          <p><i>Чим повніше Ви опишете суть запиту / проекту, тим швидшою та повноціннішею буде наша відповідь, а визначення меж бюджету значно зекономить Ваш час :)</i></p>
        </div>
      </div>


      <div id="group-3">
        <div class="contact-form-field field-5">
            <select name="price-range" id="price-range">
              <option value="extra-high-budget">Desinger</option>
              <option value="high-budget">ROR Developer</option>
              <option value="medium-budget">Back-end developer</option>
              <option value="low-budget" selected>Front-end developer</option>
            </select>
            <label for="price-range">Межі вашого бюджету на проект</label>
        </div>
        
        <div class="right-section-textarea field-6">
          <div class="contact-form-field text-input">
            <textarea name="message" id="message" cols="15" rows="15" placeholder="Нам потрібен крутий логотип, фірмовий стиль та бренд бук. Ми продаємо натуральні яблука з власних садів. А також нам потрібно налагодити замовлення  продаж яблок через інтернет. Терміни: 2 місяця."></textarea>
            <label for="message">Чим ми можемо вам допомогти? <sup>*</sup></label>
          </div>
        </div>

        <div class="submit field-7">
          <a class="brand-button" href="#">НАДІСЛАТИ</a>
        </div>

        <div class="mobile-reference">
          <p>Примітка:</p>
          <p><i>Поля відмічені <sup>*</sup> є обов’язковими для заповнення.</i></p>
          <p><i>Чим повніше Ви опишете суть запиту / проекту, тим швидшою та повноціннішею буде наша відповідь, а визначення меж бюджету значно зекономить Ваш час :)</i></p>
        </div>
      </div>
        

          
        
        
      </form>
    </div><!-- contact us wrapper -->
  </article>

  
</section><!-- contacts-page -->
