<script type="text/javascript" charset="utf-8">
  $(document).on('ready page:load', function() {
      $(".modal-cls-btn").click(function(){
        parent.$.fancybox.close( true );
      });

      $("#contact-us-tab").click(function(){
          var $tab = $(this)
        $("#contact-us-container").show();
        $tab.addClass("contact-active-tab");

        $("#order-us-container").hide();
        $("#join-us-wrapper").hide();

        $("#order-us-tab").removeClass("contact-active-tab");
        $("#join-us-tab").removeClass("contact-active-tab");

          $('#wrapper').addClass('selected-' + $tab.attr('id'))
      });

      $("#order-us-tab").click(function(){
          var $tab = $(this)

        $("#order-us-container").show();
        $tab.addClass("contact-active-tab");

        $("#contact-us-container").hide();
        $("#join-us-wrapper").hide();

        $("#contact-us-tab").removeClass("contact-active-tab");
        $("#join-us-tab").removeClass("contact-active-tab");

          $('#wrapper').addClass('selected-' + $tab.attr('id'))
      });

      $("#join-us-tab").click(function(){
          $tab = $(this)

        $("#join-us-wrapper").show();
        $tab.addClass("contact-active-tab");

        $("#contact-us-container").hide();
        $("#order-us-container").hide();

        $("#contact-us-tab").removeClass("contact-active-tab");
        $("#order-us-tab").removeClass("contact-active-tab");

          $('#wrapper').addClass('selected-' + $tab.attr('id'))
      });
  });
</script>

<article class="contact-header">
    <div id="contact-us-tab" class="<%= (@section == :contact)? 'contact-active-tab' : '' %>" title="Зв’язатись з нами">
      Зв’язатись з нами
    </div>
    <div id="order-us-tab" title="Замовити нас" class="<%= (@section == :order)? 'contact-active-tab' : '' %>">
      Замовити нас
    </div>
    <div id="join-us-tab" title="Приєднатись до нас" class="<%= (@section == :join_us)? 'contact-active-tab' : '' %>">
      Приєднатись до нас
    </div>
    <div id="close-button" class="modal-cls-btn" title="Закрити вікно">
      <a href="" class="modal-cls-btn" title="Закрити вікно">
        <%= image_tag("contacts-close-button.png", :alt => "Закрити вікно") %>
      </a>
    </div>
  </article>