<div id="item-like-bar-wrapper">
  <% if 1 == 2 %>
    <div id="portfolio-item-like">
        <img src="<%= asset_path('static_images/portfolio_item_like.png') %>" />
    </div>
  <% end %>


  <span id="bird"></span>


  <ul class="like-buttons">
    <li id="twitter-like">

      <%# tweet_button(via: "peterc", url: "voroninstudio.eu", text: "AWESOME.") %>
      <div class="original">
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <% if 1 == 2 %>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            </script>
        <% end %>
      </div>
    </li>
    <li id="fb-like">
      <div class="social-buttons-gem">
        <%# like_button('268725039814798') %>
        <div class="fb-like"  data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
      </div>

    </li>
    <li id="google-plus-like">
      <%# google_plus_button %>

      <div class="original">
        <!-- Place this tag where you want the +1 button to render. -->
        <div class="g-plusone" data-size="medium"></div>

      </div>
    </li>
  </ul>
</div>