<div id="breadcrumbs">
  <div class="container">
    <ul style="
    margin-left: 1%;
            padding-left: 0%;
    ">
      <li><a href="<%= root_path %>">Головна</a></li>
      <li><a href="<%= article_list_path %>">Статті</a></li>
      <li><%= @article.title %></li>
    </ul>
  </div>
</div>