<div id="portfolio-tabs-wrapper">
      <section id="tabs-container">
        <div class="portfolio-tab" id="all">
          <p>Усі види</p>
        </div>
        <div class="portfolio-tab inactive-portfolio-tab" id="firm-styles">
          <p>Фірмові стилі</p>
        </div>
        <div class="portfolio-tab inactive-portfolio-tab" id="polygraphy">
          <p>Поліграфія</p>
        </div>
        <div class="portfolio-tab inactive-portfolio-tab" id="web-sites">
          <p>Веб</p>
        </div>
      </section>
  </div>

  <script type="text/javascript">
    
  </script>