  <div id="portfolio-wrapper-last-section">
    <section class="container">
      <article class="team-block f-height">
        <div class="g6">
          <p class="italic-t fr-s">Ми будемо раді бачити і Вашу роботу в цьому списку. Ласкаво просимо на каву та обговорення майбутнього проекту.</p>
          <p class="italic-t sc-s"><small>Переглянувши гарні картинки — <a href="">почитайте нашу методику</a> :)</small></p>
        </div>
        <div class="g6">
          <p class="por-link-contact"><%= link_to("ДОМОВИТИСЬ!", order_us_path, :class => "order-us brand-button", :id => "modal-btn", :data => { :'fancybox-type' => "iframe" }) %></p>
        </div>
      </article>
    </section>
  </div>
  