<div id="portfolio-tabs-wrapper">
      <section id="tabs-container">
        <div class="portfolio-tab" id="all-tab">
          <h2 class="tab-header">Усі види</h2>
        </div>
        <div class="portfolio-tab inactive-portfolio-tab" id="firm-styles-tab">
          <h2 class="tab-header">Фірмові стилі</h2>
        </div>
        <div class="portfolio-tab inactive-portfolio-tab" id="polygraphy-tab">
          <h2 class="tab-header">Упаковка</h2>
        </div>
        <div class="portfolio-tab inactive-portfolio-tab" id="web-sites-tab">
          <h2 class="tab-header">Веб</h2>
        </div>
      </section>
  </div>

  <script type="text/javascript">
    
  </script>