<div id="portfolio-invitation-wrapper">
    <div id="portfolio-wrapper-last-section">
        <section class="container">
          <article class="team-block">
            <div class="g6">
              <p class="italic-t fr-s">Ми будемо раді бачити і Вашу роботу в цьому списку. Ласкаво просимо на каву та обговорення майбутнього проекту.</p>
              <p class="italic-t sc-s"><small>Переглянувши гарні картинки — <a href="">почитайте нашу методику</a> :)</small></p>
            </div>
            <div class="g6">
              <%= link_to("ДОМОВИТИСЬ!", order_path, :"data-fancybox-type" => 'iframe', :class => "order-us brand-button large modal-link fancybox", :id => "modal-btn") %>
            </div>
          </article>
        </section>
    </div>
</div>