<div class="mycatalog">
	<% for i in 1..12 %>
        <div class="myproduct"></div>
    <% end %>
    <div class="g6"></div>
    <div class="g6"></div>
    <div class="g12"></div>
    <div class="g7"></div>
    <div class="g5"></div>
    <div class="g3"></div>
    <div class="g3"></div>
    <div class="g3"></div>
    <div class="g3"></div>
    <div class="g4"></div>
    <div class="g4"></div>
    <div class="g4"></div>
</div>