<div id="breadcrumbs">
  <div class="container">
    <ul style="
    margin-left: 1%;
            padding-left: 0%;
    ">
      <li><a href="<%= root_path %>">Головна</a></li>
      <li><a href="<%= service_list_path %>">Послуги</a></li>
      <li><%= @service.name %></li>
    </ul>
  </div>
</div>