<%= title("Про нас - Дизайн студія Миколи Вороніна (Львів). Графічний дизайн. Створення веб-сайтів. Поліграфія.") %>
<%= meta(meta_keywords = "веб, розробка, створення, дизайн, поліграфія, дизайн студія, Львів, веб-дизайн, веб-сайт, веб сторінки, web сторінки, фірмовий стиль, логотипи, бренд-бук, флаєр, листівка, візитка, вітрина, друк", meta_description = "Дизайн студія Миколи Вороніна. Займається розробкою презентаційних і корпоративних веб-сайтів, Інтернет магазинів, SEO, а також створенням якісного графічного дизайну: логотипів, фірмового стилю, буклетів, афіш, реклами, зовнішньої реклами, Інтернет реклами, та веб-банерів.") %>

<div class="page-content about-page">
  <div class="white-background">
    <div class="white-background-content">
<div id="our-goal-section">
  <section id="our-goal-container">
        <div id="our-goal-description">
          <h2 class="h1-font">Наша ціль</h2>
          <p>З дня заснування ми ставили собі за мету виконувати свою роботу якісно та професійно. Сьогодні ми прагнемо виконувати завдання настільки ефективно, щоб наш продукт (логотип, етикетка, веб-сайт чи буклет-листівка) сприяв комерційному успіху товару чи послуги. Саме це є одним з найважливіших критеріїв оцінки якості виконання дизайну. </p>
        </div>
        <div class="header-quote">
          <blockquote>
            <em class="left"><span class="quote-sprite qs-left"></span></em>
            <h1>Створення повноцінного якісного дизайнерського продукту, який сприятиме отриманню прибутків та процвітанню компанії замовника.</h1>
            <em class="right"><span class="quote-sprite qs-right"></span></em>
          </blockquote>
        </div>
  </section>
</div>

<div id="principes-section">
  <div id="principes-container">
    <div id="header">
        <h2 class="h1-font">Принципи роботи</h2>
      </div>
    <div id="italic-text" class="italic-quote">
      <p>Через дослідження, стратегію, дизайн та розробку ми допомагаємо створювати та розвивати якісні і видатні бренди.</p>
    </div>
    <div id="main-text">
      <div id="description">
        <p>Кожний новий творчий проект є унікальним і підхід до нього повинен бути відповідно унікальний, розроблений саме під нього. А процес виконання в нашій студії адаптований таким чином, щоб забезпечити ефективне використання бюджету для досягнення максимальної фінансової вигоди. Наш підхід ґрунтується на аналізі, дослідженнях та прийняті аргументованих рішень для максимально ефективного виконання.</p>
      </div>
    </div>
  </div>
</div>

  <!-- render :partial => 'partials/timeline_about' -->
  
<div id="steps-section">
  <section id="steps-container">
      <div class="step">
        <h2 class="h1-font"><span class="about-page-ic-wrapper"><span class="about-page-ic anal-ic"></span></span>Аналіз</h2>
        <p>Перед початком роботи над проектом ми проводимо максимально глибокий аналіз того напрямку, з яким будемо працювати, вивчаємо історію підприємства, цільову аудиторію, нюанси та аспекти роботи, а також етапи виготовлення, географію продажу та реклами самого продукту.</p>
      </div>
      <div class="step">
        <h2 class="h1-font"><span class="about-page-ic-wrapper"><span class="about-page-ic search-ic"></span></span>Пошук рішення</h2>
        <p>Після проведення аналізу, отримавши достатню кількість даних для прийняття оптимального рішення ми оцінюємо загальні затрати на дизайн, розробку чи виготовлення, відповідно до чого визначаємо ліквідність того чи іншого методу та плануємо етапи втілення у життя.</p>
      </div>
      <div class="step">
        <h2 class="h1-font"><span class="about-page-ic-wrapper"><span class="about-page-ic met-ic"></span></span>Виконання</h2>
        <p>Розробка дизайнів, програмування, друку чи виготовлення продукту – це фінальна і одна з найцікавіших стадій роботи. Ми втілюємо у життя всі ті ідеї, концепції та напрацювання, які були зроблені під час попередніх етапів. У результаті чого ми отримуємо повноцінний продукт, який сприяє збільшенню доходів бренду та покращує його імідж.</p>
      </div>
  </section>
</div>


<div id="clients-section">
  <div id="clients-container">
  <div class="description">
    <h2 class="h1-font">Нам довіряють</h2>
    <p>З дня заснування ми ставили собі за мету виконувати свою роботу якісно та професійно. Сьогодні ми прагнемо виконувати завдання настільки ефективно, щоб наш продукт (логотип, етикетка, веб-сайт чи буклет-листівка) сприяв комерційному успіху товару чи послуги. Саме це є одним з найважливіших критеріїв оцінки якості виконання дизайну.</p>
  </div>
  <!--<div id="proposition">
    <p class="italic-t padding-t">
      Через дослідження, стратегію, дизайн та розробку ми допомагаємо створювати та розвивати якісні і видатні бренди.
    </p>
    <a href="#" class="brand-button">ЗАМОВИТИ!</a>
  </div>-->
  <div id="clients-collection-wrapper">
    <% @our_clients.each do |c| %>
        <div class="client">
          <%= link_to_if c.avatar.present?, image_tag(c.avatar.url, :alt => c.name, :width => 200, :class => 'trust-hover-action animate'), c.url %>
        </div>
      <% end %>
  </div>
</div>
</div>


<div id="team-section">
  <section id="team-container">
    <h2 class="h1-font">Команда</h2>
      <div id="italic-t-wrapper">
        <p class="italic-t">Ми надаємо можливості та простір для самореалізації і вдосконалення усіх учасників команди студії, як початківців так і професіоналів.</p>
      </div>
      <div class="part2">
        
        <p class="padding-t">Студія дизайну М. Вороніна — це дружній колектив професіоналів своєї справи. Кожен з нас є спеціалістом свого напрямку і отримує величезне задоволення від роботи, яку виконує. А разом ми підкоримо вершини, які недоступні в одиночку.  Приєднуйся до команди!</p>
        <%= link_to("ПРИЄДНУЙСЯ!", connect_us_path, :class => "order-us brand-button", :id => "modal-btn", :data => { :'fancybox-type' => "iframe" }) %>
      </div>
  </section>
</div>

</div>

</div>
</div>