
<% cache "#{I18n.locale}_about_top_content" do %>
<div class="page-content about-page">
  <div class="white-background">
    <div class="white-background-content">
          <%= raw @content %>
        


<div id="clients-section">
  <div id="clients-container">
  <div class="description">
    <%= raw @clients_intro %>
  </div>


  
  <div id="clients-collection-wrapper">
  <% end %>
    <% @our_clients.each do |c| %>
        <div class="client">
          <%= link_to_if c.avatar.present?, image_tag(c.avatar.url(:thumb), :alt => c.name, :width => 200, :class => 'trust-hover-action animate'), c.url, title: c.name, rel: 'nofollow', target: "_blank", class: 'image-link' %>
        </div>
      <% end %>
      <% cache "#{I18n.locale}_about_bottom_content" do %>
  </div>
</div>
</div>


<div id="team-section">
  <section id="team-container">
    <%= raw @team_text %>
  </section>
</div>

</div>

</div>
</div>
<% end %>