#portfolio-banner-wrapper{
  width:100%;
  overflow: hidden;
  position: relative;
  height: auto;

  #portfoio-banner-holder{
    position: relative;
    display: block;
    height: 1px;
    padding-top: 20%;



    .slide{
      position: absolute;
      width:100%;
      height: 100%;
      top:0;
      left:0;
      margin: 0;
      padding:0;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;


      .slide-description{
        right:3em;
        top:30%;
        position: absolute;
        display: block;
        width:50%;
        min-width: 300px;

        .title{
          color:#9d0f03;

        }

        .description{
          color:black;
          font-weight: 600;
        }
      }
    }

    @media(max-width:1600px){
      padding-top:25%;
    }

    @media(max-width: 1440px){
      padding-top:30%;
    }

    @media(max-width:1200px){
      padding-top:35%;
    }

    @media(max-width:960px){
      padding-top:40%;

      .slide{
        .slide-description{
          top:5%;
        }
      }
    }

    @media(max-width:719px){
      padding-top:100%;
    }


    /* iPhone 5 (landscape)----------- */
    @media only screen 
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : landscape) {
      /* STYLES GO HERE */
      padding-top: 56%;
    }

    /* iPhone 5 (portrait)----------- */
    @media only screen 
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : portrait) {
      /* STYLES GO HERE */
      padding-top: 177.5%;
    }
  }
}

#portfolio-body{
  height: auto;
  background: rgb(255, 255, 255);
  color: rgb(84, 84, 84);
  padding-bottom: 5em;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.portfolio-content{
  @include init-grid;
  @include grid-9;

  @media(max-width:960px){
    @include grid-12;
  }
}



.portfolio-main-page{
  padding: 2em 0;
}

.portfolio-item{
  float: left;
  margin: 1px;
  width: 358px !important;
  height: 358px !important;
  cursor: url("/assets/portfolio-item-cursor.png"), default;
}

.portfolio-item a img, .portfolio-item a{
  max-width: 100%;
  max-height: 100%;
  width: 358px !important;
  height: 358px !important;
  cursor: url("/assets/portfolio-item-cursor.png"), default;
}


#sortable-portfolio{
  height: 2200px;

}


.notebook-figure{
  overflow: hidden;
  //height: 750px;
  background: url("/assets/branded-slider-bg.png") no-repeat;
  background-size: 100%;
  height:1px;
  position: relative;
  padding-top:60%;
  width:100%;
  margin:0;
}

/* Banner styling */
.voronin-studio-banners{
  position: relative;
  top: 41px;
  overflow: scroll;
  margin: 0 auto;
  width: 1143px;
  height: 592px;

  //position: absolute;
  height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;

    overflow: hidden;

    .scroller{
      bottom: -17px;
      left: 0;
      overflow: scroll;
      position: absolute;
      right: -17px;
      top: 0;
    }

    img{
      width:100%;
      position: relative;
    }
}

.web-slider-wrapper{
  position: absolute;
  width:100%;
  height: 100%;
  top:0;

  //padding: 41px 143px 156px 145px;
  padding:3.2% 11.7% 9.05% 12%;
}

.web-slider-wrapper .nav-arrow{
  width:45px;
  height: 45px;
  top:50%;
  margin-top: -45px;
  position: absolute;
  cursor: pointer;
}

.web-slider-wrapper .right-arrow{
  
  background:url("http://localhost:3000/assets/pt-left.jpg") no-repeat scroll 0 0 transparent;
  left:0;
  
}

.web-slider-wrapper .left-arrow{
  background:url("http://localhost:3000/assets/pt-right.jpg") no-repeat scroll 0 0 transparent;
  right:0;

}






/* portfolio content styling */

.portfolio-tabpages .tabpage{
  //opacity:0;
  display: none;
  &.active{
    //opacity: 1;
    display: block;
  }
}

.portfolio-tabpages .tabpage img.one-per-row, .portfolio-tabpages .tabpage .one-per-row img, .portfolio-tabpages .tabpage img{
  display: inline;
  //width:100%;
  //float: left;
  margin:0px;
  padding: 10px;
  position: relative;
  max-width: 100%;

}

.portfolio-tabpages .tabpage img.three-per-row, .portfolio-tabpages .tabpage .three-per-row img{
  display: inline;
  width:33.33333%;
  float: left;
  margin:0px;
  padding: 1px;
  position: relative;
  max-width: 100%;
}

.portfolio-tabpages .tabpage img.two-per-row, .portfolio-tabpages .tabpage .two-per-row img{
  width:48%;
  margin-left:2%;
  padding: 0;
  display: inline;
  float: left;
  position: relative;
  padding-bottom: 2%;
  max-width: 100%;
}

.portfolio-tabpages .tabpage h3{
  margin-top: 90px;
}

.portfolio-tabpages .tabpage p, .portfolio-tabpages .tabpage h3{
  &{
    @extend .clearfix;
    @extend .f-height;
    clear:both;
    position: relative;
  }

}



/* end portfolio content styling */

.white-background.portfolio-item-content{
  box-shadow: none;
}

#portfolio-item-like-wrapper{
  @extend .clearfix;
  @extend .f-height;
  overflow: hidden;
  width:100%;
  background-color: #F0F0F0;
  height: auto;
  padding-top: 10px;
  padding-bottom:10px;
  margin-top: 20px;
  margin-bottom: 20px;

  #portfolio-item-like{
    width:300px;
    margin-left: auto;
    margin-right: auto;
  }
}


#other-projects{
  @extend .clearfix;
  @extend .f-height;

  padding: 0;

  background:white;
  width: 100%;
  
  .carousel-wrapper{
  
    //height: 95px;
    width:100%;
    overflow: hidden;

    ul{
      min-width: 100%;
      position: relative;
      padding:0;
      margin: 0;
      
      li{
        position: relative;
        float: left;
        width:12.5%;

        figure{
          position: relative;
          margin: 0;
          padding:0;
          height: 1px;
          width: 100%;
          padding-top:100%;
      
          a{
            max-width: 100%;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
        
            img{
              max-width: 100%;
              max-height: 100%;
            }
          }
        }
      }
    }
  }
}

#portfolio-invitation-wrapper{
   @extend .clearfix;
  @extend .f-height;
  overflow: hidden;
  background:white;
  color:#545454;
  width:100%;
}