#article-item-page #article-title-section
  margin-bottom: 0


#breadcrumbs
  margin-bottom: 2rem
  ul
    margin-left: 1%
    margin-right: 1%

    li
      display: inline-block

      &:before
        content: "/"
        margin-right: 5px
        margin-left: 5px

      &:first-child:before
        content: "//"
        margin-left: 0


