/*h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    //margin-left: 100%;
    //width: 300%;
    background-color:white;
    top:-100%;
  }

  to {
    //margin-left: 0%;
    //width: 100%;
    background-color:red;
    top:0%;
  }
}*/


#home-banner-outer .slider #slide-g3k{
  background: url('/assets/banners/g3k/vs-main-g3k-bg-1.jpg') repeat-x #404040;

  .layer{
    img{
      opacity: 0;
      width: 100%;
      position: relative;
    }
    &.description{
      &.final-position, &.display-slide{

        //left: 47%;
        //top:20%;
        //color:white;

        //text-align: left;
        //width:45%;

        .title{
          color: #f36b22;
          //@include h1;
          //color:inherit;
          //font-size: 3.6rem;
          //margin: 0;
          //font-size: 2.25rem;
          //line-height: 1.95rem;

          a{

            //color: inherit;
            //font: inherit;
            //border-bottom: none;
            //@include h1;
          }
        }

        p{
          //color:inherit;
          //font-size: 1.2rem;
          //font-weight: 900;

          //margin-bottom: 5px;
        }

        .title + p{
          //margin-top: 10px;
        }

        p + p{
          //margin-top: 0;
        }

        @media(max-width:1700px){
          p{
            //font-size: 1rem;
          }

          .title{
            //font-size: 3rem;
          }

        }

        @media(max-width:1100px){
          //top:5%;
          //width:60%;
          //right:1%;
          //left: auto;
        }

        @media(max-width:1050px){
          //top:1%;
        }

        @media(max-width:1000px){


        }

        @media(min-width:1px) and (max-width:$mobile_menu_screen_max_width){

          /*.brand-button{
            display: block;
            width:300px;
            height: 100px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.8rem !important;
            line-height: 100px;

            padding:0;
            float: none;
          }*/
        }


      }

      &.display-slide{
        left:120%;
        //top:10%;
      }
    }

    &.crystal{
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &.g3k-left-arrow{
      background-image: url(/assets/banners/g3k/vs-main-g3k-2.png);
      &.final-position, &.display-slide{
        left: -5.2%;
        top: 40%;
        width:18.5%;
        z-index: 1;
      }

      &.display-slide{
        left:-10%;
      }
    }

    &.g3k-letter{
      background-image: url(/assets/banners/g3k/vs-main-g3k-1a.png);




      &.final-position, &.display-slide{
        top:17%;
        left:13%;
        width:28%;
        z-index: 1;

      }

      &.display-slide{
        //top:-100%;
        left: -35%;

        //animation-duration: 1s;
        //animation-name: slidein;
      }
    }

    &.g3k-top-center-arrow{
      background-image: url(/assets/banners/g3k/vs-main-g3k-3.png);

      &.final-position, &.display-slide{
        top: 3%;
        left: 33.3%;
        width:13.5%;
      }

      &.display-slide{
        top:-50%;

        //animation-duration: 1s;
        //animation-name: slidein;
      }
    }

    &.g3k-letter-arrow{
      background-image: url(/assets/banners/g3k/vs-main-g3k-1b.png);

      &.final-position, &.display-slide{
        //top:50%;
        //left:39%;
        top: 46%;
        left: 28.68%;
        z-index: 1;
        width:10.8%;
      }

      &.display-slide{
        //opacity: 0;
        top: -50%;
      }
    }

    &.g3k-bottom-right-arrow{
      background-image: url(/assets/banners/g3k/vs-main-g3k-4.png);
      &.final-position, &.display-slide{
        top:65%;
        left:60%;
        width:33.5%;
      }
      &.display-slide{
        top:100%;
      }
    }
  }

  .layer.crystal.selected-layer{
    background: none repeat scroll 0 0 rgba(255, 47, 139, 0.1);
  }
}

