/*h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    //margin-left: 100%;
    //width: 300%;
    background-color:white;
    top:-100%;
  }

  to {
    //margin-left: 0%;
    //width: 100%;
    background-color:red;
    top:0%;
  }
}*/


#slide-valko{
  background: url('/assets/banners/ii-v2/bg-main.jpg') repeat-x #03C3E8;

  .layer{
    img{
      opacity: 0;
      width: 100%;
      position: relative;
    }
    &.description{
      &.final-position, &.display-slide{

        left: 50%;
        top:15%;
        color:white !important;

        text-align: left;
        width:45%;

        .title{
          color:inherit;
          font-size: 3.6rem;
          margin: 0;
          line-height: 1;

          a{
            color: inherit;
            border-bottom: none;
          }
        }

        p{
          color:inherit;
          font-size: 1.2rem;
          font-weight: 900;

          margin-bottom: 5px;
          margin-top: 0;
          padding-top: 5px;
        }

        .title + p{
          //margin-top: 10px;
        }

        p + p{
          margin-top: 0;
        }

        a.brand-button{
          top: 40px !important;
        }

        @media(max-width:1700px){
          p{
            font-size: 1rem;
          }

          .title{
            font-size: 3rem;
          }

        }

        @media(max-width:1100px){
          top:5%;
          width:60%;
          right:1%;
          left: auto;
        }

        @media(max-width:1050px){
          top:1%;

        }

        @media(max-width:1000px){


        }

        @media(min-width:1px) and (max-width:$mobile_menu_screen_max_width){

          .brand-button{
            display: block;
            width:300px;
            height: 100px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.8rem !important;
            line-height: 100px;

            padding:0;
            float: none;
          }
        }


      }

      &.display-slide{
        left:120%;
        //top:15%;
      }
    }

    &.crystal{
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &.ii-crystal-blured-medium{
      background-image: url(/assets/banners/valko/vs-maimban-valko-2.png);
      &.final-position, &.display-slide{

        top:17%;
        left:6%;
        width:10%;

        width: 16%;//valko
        left: 0;//valko
      }

      &.display-slide{
        left:-10%;
      }
    }

    &.ii-crystal-main{
      background-image: url(/assets/banners/valko/vs-maimban-valko-1.png);


      z-index: 1;

      &.final-position, &.display-slide{
        top:0%;
        left:15%;
        width:20%;
        width: 23.5%;//valko
        top: 10%;//valko
      }

      &.display-slide{
        top:-100%;

        //animation-duration: 1s;
        //animation-name: slidein;
      }
    }

    &.ii-crystal-medium{
      display: none !important;
      background-image: url(/assets/banners/ii-v2/right-middle.png);

      &.final-position, &.display-slide{
        top:-27%;
        left:34%;
        width:10%;
      }

      &.display-slide{
        top:-50%;

        //animation-duration: 1s;
        //animation-name: slidein;
      }
    }

    &.ii-crystal-blured-small{
      background-image: url(/assets/banners/valko/vs-maimban-valko-3.png);
      &.final-position, &.display-slide{
        top:50%;
        left:39%;
        width:5%;

        width: 7.5%;//valko
      }
      &.display-slide{
        opacity: 0;
      }
    }

    &.ii-crystal-blured-big{
      background-image: url(/assets/banners/valko/vs-maimban-valko-4.png);
      &.final-position, &.display-slide{
        top:59.5%;//valko
        left:60%;
        width:20%;

        width: 35.75%;
      }
      &.display-slide{
        top:100%;
      }
    }
  }

  .layer.crystal.selected-layer{
    background: none repeat scroll 0 0 rgba(255, 47, 139, 0.1);
  }
}


