<article class="body-contacts" id="contact-us-container" <% if( @section == :contact ) %>style="display: block;" <% else %>style="display: none;" <% end %> >
  <div class="contact-us-wrapper">
    <div id="contact-us-data">
      <a href="tel:+38 (050) 417 07 28" class="mobile" title="+38 (050) 417 07 28" style="cursor: default;">
        <span class="cont-sprite-b cont-mobile-icon"></span>
        +38 (050) 417 07 28
      </a>
      <a href="tel:+38 (032) 240-33-50" class="fax" title="+38 (032) 240-33-50" style="cursor: default;">
        <span class="cont-sprite-b cont-fax-icon"></span>
        +38 (032) 240-33-50
      </a>
      <a href="" class="address" title="Показати на карті">
        <span class="cont-sprite-b cont-address-icon"></span>
        вул. Лукіяновича, 11, м. Львів, Україна
      </a>
      <div class="emails">
        <span class="cont-sprite-b cont-email-icon"></span>
        <p><a href="mailto:nick@voroninstudio.eu">nick@voroninstudio.eu</a>&nbsp;&mdash;&nbsp;фінансові та арт питання</p>
        <p><a href="mailto:office@voroninstudio.eu">office@voroninstudio.eu</a>&nbsp;&mdash;&nbsp;офіс</p>
        <p><a href="mailto:support@voroninstudio.eu">support@voroninstudio.eu</a>&nbsp;&mdash;&nbsp;питання технічної підтримки</p>
      </div>
    </div>
  </div>
  <!--<div class="next-section-btn">
      <a href="">
        <%= image_tag("contacts-next-article.png", :alt => "") %>
      </a>
    </div>-->
</article>