<article class="body-contacts" id="join-us-wrapper" style="display: none;">
  <div class="contact-us-wrapper">
    <form id="join-us-form" method="post" action="/join-us">
      <div class="group-1-and-reference">
        <div id="group-1">
          <div class="contact-form-field field-1">
            <input type="text" name="name" id="name" data-validation="length" data-validation-length="3-20" placeholder="Микола Еплович"/>
            <label for="name">Вас звати <sup>*</sup></label>
          </div>
          <div class="contact-form-field field-2">
            <input type="text" name="phone" id="phone" data-validation="custom" data-validation-regexp="^[0-9]{6,11}$" placeholder="+38 (050) 417 07 28"/>
            <label for="phone">Ваш телефон <sup>*</sup></label>
          </div>
        </div>
        <div id="group-2">
          <div class="contact-form-field field-3">
            <input class="portfolio" id="portfolio" name="attachment" type="file" placeholder="Виберіть файл"/>
            <label for="portfolio">Ваше портфоліо</label>
          </div>
          <div class="contact-form-field field-4">
            <input class="email" name="email" id="email" type="text" data-validation="email" placeholder="appleplus@gmail.com" />
            <label for="email">Ваша електронна почта <sup>*</sup></label>
          </div>
        </div>

        <div class="reference">
          <p>Примітка:</p>
          <p><i>Поля відмічені <sup>*</sup> є обов’язковими для заповнення.</i></p>
          <p><i>Чим повніше Ви опишете суть запиту / проекту, тим швидшою та повноціннішею буде наша відповідь, а визначення меж бюджету значно зекономить Ваш час :)</i></p>
        </div>
      </div>


      <div id="group-3">
        <div class="contact-form-field field-5">
          <div class="select-wrapper">
            <select name="vacancy" id="vacancy">
                <option value="extra-high-budget">Desinger</option>
                <option value="high-budget">ROR Developer</option>
                <option value="medium-budget">Back-end developer</option>
                <option value="low-budget" selected>Front-end developer</option>
            </select>
            <span class="select-arrow"></span>
          </div>
          <label for="price-range">Межі вашого бюджету на проект</label>
        </div>

        <div class="right-section-textarea field-6">
          <div class="contact-form-field text-input">
            <textarea name="message" id="message" cols="15" rows="15" placeholder="Нам потрібен крутий логотип, фірмовий стиль та бренд бук. Ми продаємо натуральні яблука з власних садів. А також нам потрібно налагодити замовлення  продаж яблок через інтернет. Терміни: 2 місяця."></textarea>
            <label for="message">Чим ми можемо вам допомогти?</label>
          </div>
        </div>

        <div class="submit field-7">
          <input style="float:right" type="submit" class="brand-button" value="НАДІСЛАТИ" />
        </div>

        <div class="mobile-reference">
          <p>Примітка:</p>
          <p><i>Поля відмічені <sup>*</sup> є обов’язковими для заповнення.</i></p>
          <p><i>Чим повніше Ви опишете суть запиту / проекту, тим швидшою та повноціннішею буде наша відповідь, а визначення меж бюджету значно зекономить Ваш час :)</i></p>
        </div>
      </div>





    </form>

    <div id="order-form-waiting" class="form-waiting">
      <img src="/assets/ajax-loader.gif" >
    </div>

    <div id="join-us-form-success-alert" class="form-success-alert">
      <span class="h1">Ваш запит відправлено!</span>
      <p>Дякуємо за проявлений інтерес до студії.
        В разі зацікавленості ми обов'язково зв'яжемося з вами.<br/>
        Гарного дня.</p>
    </div>

  </div><!-- contact us wrapper -->

  <script type="text/javascript">
      $(document).on('ready', function(){
          $.validate({
              form: '#join-us-form'
          })
      })
  </script>

</article>