<% hostname = 'voroninstudio.eu' %>

<% [:name, :phone, :email, :role, :text].each do |attr_name|  %>
  <tr>
    <td><%= attr_name %></td>
    <td><%= @join_us_form.send(attr_name) %></td>
  </tr>
<% end %>

<tr>
  <td>portfolio</td>
  <td><a href="<%= "http://#{hostname}#{@join_us_form.portfolio.url}" %>">portfolio</a> </td>
</tr>

















<br/>
<p class="link-in-admin-panel">
  <%= link_to( 'in admin panel', "http://#{hostname}/admin/forms~join_us/#{ @join_us_form.id }" ) %>
</p>
