<% hostname = 'voroninstudio.eu' %>
<% [:name, :phone, :organization_name, :email, :money, :text].each do |attr_name|  %>
  <tr>
    <td><%= attr_name  %></td>
    <td><%= @order.send(attr_name) %></td>
  </tr>
<% end %>









<br/>
<p class="link-in-admin-panel">
  <%= link_to( 'in admin panel', "http://#{hostname}/admin/forms~order/#{@order.id}" ) %>
</p>
