@mixin header{
  color: $header-color;
  padding: $header-padding;
  margin: $header-margin;

  text-decoration: none;

  font-weight: normal;
  font-family: 'OpenSansSemibold', Arial, sans-serif;
}

@mixin h1{
  @include header;


  font-size: $h1-font-size;
  line-height: $h1-line-height;



}

@mixin h2{
  @include header;


  font-size: $h2-font-size;
  line-height: $h2-line-height;
  padding: $h2-padding;
  margin: $h2-margin;
}

@mixin h3{
  @include header;


  font-size: $h3-font-size;
  line-height: $h3-line-height;
  padding: $h3-padding;
  margin: $h3-margin;
}

@mixin h4{
  @include header;


  font-size: $h4-font-size;
  line-height: $h4-line-height;
  padding: $h4-padding;
  margin: $h4-margin;
}

@mixin h5{
  @include header;


  font-size: $h5-font-size;
  line-height: $h5-line-height;
  padding: $h5-padding;
  margin: $h5-margin;
}

@mixin h6{
  @include header;


  font-size: $h6-font-size;
  line-height: $h6-line-height;
  padding: $h6-padding;
  margin: $h6-margin;
}

h1, .h1{
  @include h1;
}

h2, .h2{
  @include h2;
}

h3, .h3{
  @include h3;
}

h4, .h4{
  @include h4;
}

h5, .h5{
  @include h5;
}

h6, .h6{
  @include h6;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, .h5, h5, .h6, h6{
  a{
    color:inherit;
  }
}

a{
  color: $link-color;
}


@mixin brand-button( $size: "medium", $float: false ){
  background: url(branded-button-background.jpg) repeat;
  color: white;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  @if $float == true {
    position: relative;
    display: block;
    float: left;
  }

  @if $size == "medium"{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 0;



    height: $medium-button-height;
    line-height: $medium-button-height;


    font-weight: $medium-button-font-weight;
    font-size: $medium-button-font-size;
    font-family: $medium-button-font-family;
  }


}



.brand-button{
  @include brand-button;

  &.float{
    @include brand-button($float: true);
  }
}



.brand-tab{
  background-color: $tab-background-color;
  color: $tab-text-color;
  height: $tab-height;

  float: left;
  position: relative;
  display: block;

  .tab-title{
    color: inherit;
    padding: 0;

    font-size: 1.5rem;
    line-height: 50px;
  }

  a{
    color: inherit;
    font: inherit;
    line-height: inherit;
    text-decoration: none;
    border: none;
    display: block;
  }

  &:hover{
    background-color: $tab-hover-background-color;
  }

  &.active{
    background: $tab-active-background;
  }


}