$rem-base: 16;

$body-line-height: 1.618;
$body-font-size: 16px;

@function rem-calc($value, $return_with_unit: true){
  $result:  $value / $rem-base;
  @if $return_with_unit == true{
    @return  #{$result}rem;
  }
  @return $result;
}

@function calc-line-height($value){
  $result: $value * $body-line-height;
  @return $result;
}




$light-gray-color: #f0f0f0;

$gray-color: #e8e8e8;

$pink-color: #eb1474;

$gray-background-color: $light-gray-color;

$button-font-family: 'OpenSansExtrabold', sans-serif;

//$medium-button-height: 50px;
$medium-button-font-size: 22;
$medium-button-font-weight: normal;
$medium-button-font-family: $button-font-family;

//$large-button-height-: ;
$large-button-font-size: 38;
$large-button-font-weight: 800;
$large-button-font-family: $button-font-family;

$tab-background-color: $gray-color;
$tab-hover-background-color: $pink-color;
$tab-active-background: url(branded-button-background.jpg) repeat;
$tab-text-color: white;
$tab-height: 50px;

$text-pink-color: #ff2e8b;

$link-color: $text-pink-color;



$header-color: $text-pink-color;
$header-padding: 0.4em 0;
$header-margin: 0;

$h1-font-size: 2.1em;
$h1-line-height: 1.4em;
$h1-padding: $header-padding;
$h1-margin: $header-margin;



$h2-font-size: 1.8em;
$h2-line-height: 1.2em;
$h2-padding: $header-padding;
$h2-margin: $header-margin;


$h3-font-size: 1.8em;
$h3-line-height: 1.2em;
$h3-padding: $header-padding;
$h3-margin: $header-margin;


$h4-font-size: 1.8em;
$h4-line-height: 1.2em;
$h4-padding: $header-padding;
$h4-margin: $header-margin;


$h5-font-size: 1.8em;
$h5-line-height: 1.2em;
$h5-padding: $header-padding;
$h5-margin: $header-margin;

$h6-font-size: 1.8em;
$h6-line-height: 1.2em;
$h6-padding: $header-padding;
$h6-margin: $header-margin;