/*
*= require fancybox
* require jquery.ui.all
*= require_self
*/

$mobile_menu_screen_max_width: 824px; // 959
$desktop_menu_screen_min_width: 825px; // 960

$media_max_width:4600px;

//@import 'fancybox';
//@import "jquery.ui.all";

//@import "fonts/octicons/octicons.css";

@import "functions";

@import "_config";

$header-color: $text-pink-color;


@import "custom_grid/normalize";
@import "_basic";
@import "font-face";
@import "custom_grid/mixin-grid960";

@import "fonts";





@import "custom_grid/_layout";

@import "z_index";

@import "menu";
@import "footer";
// will be resolved in future
//@import "scrollbar";

@import "sub-footer";

@import "partials/page_breadcrumbs";

@import "partials/item_like_bar";

@import "fancybox-contact";

@import "pages/index";
@import "_page";

@import "pages/about";
@import "pages/service";
@import "pages/articles";
@import "pages/article-item";
@import "pages/portfolio_item";
@import "pages/error";
@import "devise";

@import "_portfolio";

@import "partials/portfolio_invitation";

@import "portfolio_item/portfolio_item_main";
@import "portfolio_item/voronin_studio_portfolio";
@import "developer-panel";


//@import "service";
//@import "contacts";
//@import "article";




//@import "timeline";


@import "_ckeditor-sections";



// partials
@import "sprites";
@import "_banners";

@import "banner-items/slide-izhak_web";
@import "banner-items/valko-banner";
@import "banner-items/slide-g3k";
@import "banner-items/slide-czmk";


@import "bjqs";


@import "shame"; // temporary fast resolve bugs



@import "_brand-style";


//@charset "utf-8";

@import "_contact";