#footer-wrapper
  {
    

}

#footer-wrapper footer
  {
  
}



#footer-wrapper footer section
  { }

#footer-wrapper footer section div.g6
  { }

#footer-wrapper footer section div.g6 div.footer-div
  {
  float: left;
}

.social-panel ul{
  
}

.social-panel ul li{
  
}

.social-panel ul li:last-child{
  
}

.site-copyrights{
  margin: 15px 0 10px 0;
  padding: 0;

  text-align: center;

  color:white;
}

.site-copyrights a{
  border-bottom: 1px solid rgba(255, 255, 255, 0.01);
  color: white;
  text-decoration: none;
}

.site-copyrights a:hover{
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.footer-contacts p{
  margin: 0;
  padding: 0.6em 0 0 0;
  color: #ffffff;
}

.footer-contacts p:first-child a{
  color: #ff2e8b;
}

.footer-contacts p a{
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.25em;
  font-family: 'OpenSansLight', Arial, sans-serif;
}


