@media(min-width:1px) and (max-width:620px){

	/* fix footer top indent */
	#footer-wrapper{
		height: 376px;
		margin-top: -376px;
	}
}


.fancybox-wrap{
  z-index: 1;
}

.fancybox-wrap iframe.fancybox-iframe{
  width: 100%;
  height: 100%;
}