<% czmk_portfolio =  Portfolio::Portfolio.find(26) %>
<li id="slide-czmk" class="slide">
  <div class="slide-content">
    <div id="czmk-monitor" class = "layer crystal ii-layer czmk-monitor final-position"><%= image_tag ('banners/czmk/vs-main-czmk-1.png') %></div>
    <div id="" class="layer description final-position">
      <span class="title"><a href="/portfolio/corporate-identity/games3k">«ЧЗМК» &mdash; розробка корпоративного веб сайту</a></span>
      <p>Після успішної розробки логотипу та фірмового стилю для заводу металоконструкцій нам доручили розробити корпоративний веб сайт, на якому буде представлено усі досягнення та переваги виробника.</p>
      <a style="" class="order-us brand-button" href="<%= czmk_portfolio.slug %>">Детальніше!</a>
    </div>
  </div>
  <script>

  </script>

</li>
