<!DOCTYPE html>
<html>
<head>
  <title>RailsFileEditor</title>
  <%= stylesheet_link_tag    'file_editor_application' %>
  <%= javascript_include_tag 'file_editor_application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>